.divContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.divCol {
    display: flex;
    flex-direction: column;
}


.divFlexJedna {
flex-grow: 1;
}

.divFlexNula {
    flex-grow: 0;
    margin-right: 26px;
    }

    .mr-10 {
        margin-right: 1cap;
    }

    .btn {
        padding: 0.35rem;
        border-width: 1px ;
        border-color: (243,244,246,.2);
        border-radius: 0.25rem
    }
    .btn:hover {
        /* padding: 0.35rem;
        border-width: 1px ;
        border-color: (243,244,246,.2);
        border-radius: 0.25rem; */
        background-color: rgba(249,250,251,.1);
    }
    .btnGroup {
        display: flex;
        flex-direction: row;
    justify-content: space-between;

    }

    .calloutError {
        background-color: rgba(127,29,29,.3);
        border-color: hsla(0,96%,89%,.3);
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-right: 1rem;
        padding-left: 0.5rem;
        border-width: 1px;
        border-radius: 0.5rem;
    }